.role-container {
  .modify-role {
    .role-parent {
      .actions {
        i {
          font-size: 27px;
          padding-right: 12px;
          padding-top: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .table-role {
    .delete {
      cursor: pointer;
    }
  }
}
